* {
    margin: 0;
    padding: 0;
}

body {
background-color: black;
height: 3000px;
}

.menu {
    height: 30px;
    width: 100%;
    background-color: hsla(50,100%,50%,0.7);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 3
}

.big-box{
    height: 300px;
    width: 280px;
    background-color: blue;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 1;
    display: block;
    padding: 20px;
}

.small-box{
    height: 170px;
    width: 160px;
    background-color: red;
    z-index: 2;
    position: absolute;
    top: 200px;
    left:95px;
    text-align: center;
    display: inline-block;
    padding: 30px;
   
}

p{
    color: white;
    font-size: 12px;
    display: block;

}

a {
    color: purple;
    font-size: 12px;
    display: block;
    position: relative;
    top: 20px;
    line-height: 50px;
}

